{% extends "scramble/base.html" %}
{% load static %}
{% block title %}Welcome to Scramble{% endblock %}

{% block body_block %}

<div class="container">

<!--  Carousel - consult the Twitter Bootstrap docs at
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="this-carousel-id" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
          <img src="{% static 'img/slide-01.jpg' %}" alt="slide01">
      <div class="carousel-caption">
        <p class="lead">With Scramble, you can create your own event and allow others to join it </p>
      </div>
    </div>
    <div class="item">
     <img src="{% static 'img/slide-02.jpg' %}" alt="slide02">
      <div class="carousel-caption">
        <p class="lead">You can select the course, the format, and the settings </p>
      </div>
    </div>
    <div class="item">
     <img src="{% static 'img/slide-03.jpg' %}" alt="slide03">
      <div class="carousel-caption">
        <p class="lead">As you play, the group members can update their score, or you can decide to enter it yourself </p>
      </div>
    </div>

  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
</div>

<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Create an Event</h2>
          <p>With Scramble, you can create your own event and allow others to join it </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Set the Options</h2>
          <p>You can select the course, the format, and the settings </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Keep Score</h2>
          <p>As you play, the group members can update their score, or you can decide to enter it yourself</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="{% static 'img/examples/browser-icon-chrome.png' %}" alt="example01">
        <h2 class="featurette-heading">First featurette headling. <span class="muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
         <img class="featurette-image pull-left" src="{% static 'img/examples/browser-icon-firefox.png' %}" alt="example02">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="{% static 'img/examples/browser-icon-safari.png' %}" alt="example03">
        <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
{% endblock %}